@use './__globals.scss' as *;
@use './__mediaqueries.scss' as *;
@use './__variables.scss' as *;


.footer {
    padding: $standard-margin $large-margin;

    padding: 3.2rem $standard-margin $large-margin $standard-margin;
    background-color: $black;
    @include footer-copy;

    // * {
    //     border: 1px solid fuchsia;
    // }

    &__container {
        position: relative;
    }

        &__top {    
            display: flex;
            flex-direction: column;
            gap: $standard-margin;
    
            @include tablet {
                flex-direction: row;
                align-items: center;
                gap: $td-standard-margin;
            }
        }
    
                &__heading  {
                        @include section-header;
    
                        @include tablet {
                            font-size: 4.8rem;
                            padding-top: $td-standard-margin;
                        }
                    }
            
                &__icons-container {
                    display: flex;
                    gap: $standard-margin;
                    margin-bottom: $standard-margin;
    
                    @include tablet {
                        margin-bottom: 0;
                        gap: $td-standard-margin;
                    }
                }
    
                    &__icon {
                        width: 3.2rem;
                        height: 3.2rem;
                    }
    
        &__main {
            display: flex;
            flex-direction: column;
    
            @include tablet {
                flex-direction: row;
                justify-content: space-between;
                margin-top: -2.4rem;
            }
        }
        
        &__subheading {
            margin: $td-headline-padding;
        }
    
        &__copy {
            margin-bottom: $standard-margin;
            
            @include tablet {
                margin-bottom: $td-standard-margin;
            }
        }
    
        &__logo {
            @include logo(4.8rem, 0, $standard-margin, 0);
    
            @include tablet {
                position: absolute;
                top: 0;
                right: 0;
            }
        }
    
        &__copyright {
            font-size: 1rem;
            margin-bottom: 0.8rem;
        } 
    
        @include tablet {
            padding: $td-large-margin;
        }
}