@use './__variables.scss' as *;
@use './__mediaqueries.scss' as *;


/* RESET -------------------------------------------------------- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* ROOT TYPOGRAPHY ---------------------------------------------- */
:root {
    font-size: 10px;
    font-family: "Avenir Next Regular";
    letter-spacing: 0.025em;
}


/* FONT FACES --------------------------------------------------- */
@font-face {
    font-family: "Avenir Next Regular";
    src: url('../../assets/fonts/AvenirNextLTPro-Regular.otf');
}

@font-face {
    font-family: "Avenir Next Demi";
    src: url('../../assets/fonts/AvenirNextLTPro-Demi.otf');
}

@font-face {
    font-family: "Avenir Next Bold";
    src: url('../../assets/fonts/AvenirNextLTPro-Bold.otf');
}


/* LOGO / WORDMARK ---------------------------------------------- */
@mixin logo ($margin-top, $margin-right, $margin-bottom, $margin-left) {
    margin: $margin-top $margin-right $margin-bottom $margin-left;
    font-family: 'Avenir Next Regular';
    font-size: 2.3rem;
    letter-spacing: 0.05em;

    &--link {
        text-decoration: none;
        color: $white;
    }
}


/* TYPOGRAPHY --------------------------------------------------- */
@mixin page-header {
    padding: $headline-padding;
    margin-left: $standard-margin;
    line-height: 3.2rem;
    font-size: 2.3rem;
    font-weight: 700;
    color: $white;

    @include tablet {
        padding: $td-headline-padding;
        margin-left: $td-standard-margin;
        line-height: 6.8rem;
        font-size: 6rem;
    }
}

@mixin section-header {
    padding: 0.8rem 0;
    line-height: 3.2rem;
    font-size: 2.4rem;
    font-family: 'Avenir Next Demi';

    @include tablet {
        padding: 2rem 0 2.7rem 0;
        font-size: 3.6rem;
        line-height: 3.6rem;
    }

    @include desktop {
        padding: 2rem 0 3.9rem 0;
    }
}

@mixin label {
    display: block;
    margin: 0 0 2.2rem 0;                
    font-size: 0.85rem;
    font-family: 'Avenir Next Regular';
    text-transform: uppercase;
    color: $silver;
        
    @include tablet {
        font-size: 1.2rem;
    }
}


/* COMPONENTS --------------------------------------------------- */

@mixin button {
    display: block;
    width: 100%;
    min-width: 150px;
    height: 4rem;
    margin: -0.4rem 0;
    border: none;
    border-radius: 4px;
    padding: 1.3rem 3.2rem;
    background-color: $black;
    font-family: 'Avenir Next Regular';
    font-size: 1.4rem;
    text-transform: uppercase;
    color: $white;

    &:hover {
        background-color: $darkblack;
    }

    @include tablet {
        width: max-content;
        padding: 1.3rem 4rem;
        margin: 2.4rem 0 1.2rem auto;
    }
}