@use './__variables.scss' as *;
@use './__mediaqueries.scss' as *;


/* RESET -------------------------------------------------------- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* ROOT TYPOGRAPHY ---------------------------------------------- */
:root {
    font-size: 10px;
    font-family: "Avenir Next Regular";
    letter-spacing: 0.025em;
}


/* FONT FACES --------------------------------------------------- */
@font-face {
    font-family: "Avenir Next Regular";
    src: url('../../assets/fonts/AvenirNextLTPro-Regular.otf');
}

@font-face {
    font-family: "Avenir Next Demi";
    src: url('../../assets/fonts/AvenirNextLTPro-Demi.otf');
}

@font-face {
    font-family: "Avenir Next Bold";
    src: url('../../assets/fonts/AvenirNextLTPro-Bold.otf');
}


/* LOGO / WORDMARK ---------------------------------------------- */
@mixin logo ($margin-top, $margin-right, $margin-bottom, $margin-left) {
    margin: $margin-top $margin-right $margin-bottom $margin-left;
    font-family: 'Avenir Next Regular';
    font-size: 2.3rem;
    letter-spacing: 0.05em;

    &--link {
        text-decoration: none;
        color: $white;
    }
}

@mixin page-header {
    padding: $headline-padding;
    margin-left: $standard-margin;
    line-height: 3.2rem;
    font-size: 2.3rem;
    font-weight: 700;
    color: $white;

    @include tablet {
        padding: $td-headline-padding;
        margin-left: $td-standard-margin;
        line-height: 6.8rem;
        font-size: 6rem;
    }
}

@mixin section-header {
    padding: 0.8rem 0;
    line-height: 3.2rem;
    font-size: 2.4rem;
    font-weight: 700;
}