@use './__globals.scss' as *;
@use './__mediaqueries.scss' as *;
@use './__variables.scss' as *;


.header {
    display: flex;
    flex-direction: column;
    background-color: $black;
    color: $white;

    &__logo {
       @include logo(1.6rem, auto, 0.8rem, auto);
    }

    .nav {
        
        &__list {
            display: flex;
            justify-content: space-between;
            width: 100%;
            list-style: none;
            text-align: center;

        }

            &__item {
                width: 100%;
                border-bottom: 3px solid transparent;
                padding-bottom: 0.8rem;
                font-size: 1.2rem;
                letter-spacing: 0.05em;


                &__link {
                    color: $mercury;
                }
                 
                &:active,
                &:hover,
                &:focus {
                    border-bottom: 3px solid white;
                    cursor: pointer;

                    .nav__link {
                        color: $white;
                        font-weight: bold;
                    }
                }
            }     
    }

    @include tablet {
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

        &__logo {
            margin: 1.6rem 3rem;
            color: pink;
         }

        .nav {
            &__item {
                padding: 2.6rem 0;
                margin: 0 3rem;
                font-size: 1.4rem;
            }
        }
    }

    @include desktop {
        &__logo {
            margin: 0 3rem 0 13.3rem;
        }

        .nav {
            &__item {
                padding: 3.3rem 0;
                margin: 0 3rem;
                font-size: 1.4rem;
            }
        }
    }
}