@use './__globals.scss' as *;
@use './__variables.scss' as *;
@use './__mediaqueries.scss' as *;

.header {
    display: flex;
    flex-direction: column;
    background-color: $black;
    color: $white;
    padding-top: $standard-margin;

    &__logo {
       @include logo(0, auto, $standard-margin, auto);

       @include tablet {
            margin: 0 $td-standard-margin;
        }
    }

    .nav {
        
        &__list {
            display: flex;
            justify-content: space-between;
            list-style: none;
            text-align: center;

            @include tablet {
                align-items: flex-end;
                gap: $td-standard-margin;
            }
        }

            &__item {
                width: 100%;
                padding: 0.8rem;
                border-bottom: 3px solid transparent;

                &:active,
                &:hover,
                &:focus {
                    border-bottom: 3px solid white;
                    cursor: pointer;

                    .nav__link {
                        color: $white;
                        font-weight: $bold-font;
                    }
                }

                @include tablet {
                    margin-top: 0.8rem;
                    padding: calc($standard-margin + 0.8rem) 0;
                }
            }

                &__link {
                    font-size: 1.3rem;
                    color: $mercury;
                }
    }

    @include tablet {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding-top: 0;
    }

    @include desktop {
        background-color: rebeccapurple;
    }
}
