/* VARIABLES ---------------------------------------------------- */
$main-font: "Avenir Next Regular";
$demi-font: "Avenir Next Demi";
$bold-font: "Avenir Next Bold";

$black: #323232;
$silver: #AFAFAF;
$white: #FFFFFF;
$darkblack: #000000;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;

$tablet-size: 768px;
$desktop-size: 1280px;

$small-margin: 0.8rem;
$standard-margin: 1.6rem;
$large-margin: 2.4rem;