@use './__mediaqueries.scss' as *;

/* VARIABLES ---------------------------------------------------- */
$main-font: "Avenir Next Regular";
$demi-font: "Avenir Next Demi";
$bold-font: "Avenir Next Bold";

$black: #323232;
$silver: #AFAFAF;
$white: #FFFFFF;
$darkblack: #000000;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;

$tablet-size: 768px;
$desktop-size: 1280px;

$standard-margin: 1.6rem;
$large-margin: 2.4rem;
$headline-padding: $large-margin 0 $standard-margin 0;

$td-standard-margin: 3.6rem;
$td-large-margin: 4.8rem;
$td-headline-padding: $td-large-margin 0 $td-standard-margin 0;