@use './partials/__globals.scss' as *;
@use './partials/__footer.scss' as *;
@use './partials/__header.scss' as *;
@use './partials/__variables.scss' as *;
@use './partials/__mediaqueries.scss' as *;


/* HERO --------------------------------------------------------- */
.hero {
    display: flex;
    align-items: center;
    position: relative;

    &__img {
        object-fit: cover;
        width: 100%;
        height: 23vh;
    }

    &__overlay {
        position: absolute;      
        z-index: 1;
        width: 100%;
        height: 100%;
        opacity: 0.5;
        background-color: $black;  
    }

    &__heading {
        position: absolute;
        z-index: 2;
        padding-left: 1.6rem;
        font-size: 2.3rem;
        line-height: 3.2rem;
        color: $white;
        font-weight: 700;
    }
}


/* ABOUT -------------------------------------------------------- */
.about {
    padding: 1.6rem;

    &__heading {
        @include section-header;
    }

    &__img {
        width: 100%;
        height: 20vh;
        object-fit: cover;
    }

    &__quote {
        margin: $standard-margin 0;
        line-height: 22px;
        font-size: 1.4rem;
        font-weight: 700;
    }

    &__subheading {
        line-height: 22px;
        font-size: 1.4rem;
        font-weight: 600;
    }

    &__copy {
        margin-top: $standard-margin;
        font-size: 1.3rem;
        line-height: 1.8rem;
    }
}


/* GALLERY ------------------------------------------------------ */
.gallery {
    padding: $standard-margin;
    background-color: $alabaster;

    &__heading {
        @include section-header;
    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: $standard-margin;
    }

        &__img {
            object-fit: cover;
            width: 100%;
        }
}