/* VARIABLES ---------------------------------------------------- */
/* RESET -------------------------------------------------------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ROOT TYPOGRAPHY ---------------------------------------------- */
:root {
  font-size: 10px;
  font-family: "Avenir Next Regular";
  letter-spacing: 0.025em;
}

/* FONT FACES --------------------------------------------------- */
@font-face {
  font-family: "Avenir Next Regular";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf");
}
@font-face {
  font-family: "Avenir Next Demi";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf");
}
@font-face {
  font-family: "Avenir Next Bold";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf");
}
/* LOGO / WORDMARK ---------------------------------------------- */
.footer {
  padding: 1.6rem;
  background-color: #323232;
  line-height: 2rem;
  font-size: 1.4rem;
  color: #FFFFFF;
}
.footer__heading {
  padding: 0.8rem 0;
  line-height: 3.2rem;
  font-size: 2.4rem;
  font-weight: 700;
}
.footer__icons-container {
  display: flex;
  gap: 1.6rem;
  margin-bottom: 1.6rem;
}
.footer__icon {
  width: 3.2rem;
  height: 3.2rem;
}
.footer__subheading {
  margin: 2.4rem 0 1.6rem 0;
  font-size: 1.3rem;
}
.footer__copy {
  margin-bottom: 1.6rem;
}
.footer__logo {
  margin: 4.8rem 0 1.4rem 0;
  font-family: "Avenir Next Regular";
  font-size: 2.3rem;
  letter-spacing: 0.05em;
}
.footer__logo--link {
  text-decoration: none;
  color: #FFFFFF;
}
.footer__copyright {
  font-size: 1rem;
  margin-bottom: 1.4rem;
}

.header {
  display: flex;
  flex-direction: column;
  background-color: #323232;
  color: #FFFFFF;
}
.header__logo {
  margin: 1.6rem auto 0.8rem auto;
  font-family: "Avenir Next Regular";
  font-size: 2.3rem;
  letter-spacing: 0.05em;
}
.header__logo--link {
  text-decoration: none;
  color: #FFFFFF;
}
.header .nav__list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  list-style: none;
  text-align: center;
}
.header .nav__item {
  width: 100%;
  border-bottom: 3px solid transparent;
  padding-bottom: 0.8rem;
  font-size: 1.2rem;
  letter-spacing: 0.05em;
}
.header .nav__item__link {
  color: #E1E1E1;
}
.header .nav__item:active, .header .nav__item:hover, .header .nav__item:focus {
  border-bottom: 3px solid white;
  cursor: pointer;
}
.header .nav__item:active .nav__link, .header .nav__item:hover .nav__link, .header .nav__item:focus .nav__link {
  color: #FFFFFF;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .header {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .header__logo {
    margin: 1.6rem 3rem;
    color: pink;
  }
  .header .nav__item {
    padding: 2.6rem 0;
    margin: 0 3rem;
    font-size: 1.4rem;
  }
}

/* HERO --------------------------------------------------------- */
.hero {
  display: flex;
  align-items: center;
  position: relative;
}
.hero__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 23vh;
}
.hero__overlay {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-color: #323232;
}
.hero__heading {
  position: absolute;
  z-index: 2;
  padding-left: 1.6rem;
  font-size: 2.3rem;
  line-height: 3.2rem;
  color: #FFFFFF;
  font-weight: 700;
}

/* ABOUT -------------------------------------------------------- */
.about {
  padding: 1.6rem;
}
.about__heading {
  padding: 0.8rem 0;
  line-height: 3.2rem;
  font-size: 2.4rem;
  font-weight: 700;
}
.about__img {
  width: 100%;
  height: 20vh;
  -o-object-fit: cover;
     object-fit: cover;
}
.about__quote {
  margin: 1.6rem 0;
  line-height: 22px;
  font-size: 1.4rem;
  font-weight: 700;
}
.about__subheading {
  line-height: 22px;
  font-size: 1.4rem;
  font-weight: 600;
}
.about__copy {
  margin-top: 1.6rem;
  font-size: 1.3rem;
  line-height: 1.8rem;
}

/* GALLERY ------------------------------------------------------ */
.gallery {
  padding: 1.6rem;
  background-color: #FAFAFA;
}
.gallery__heading {
  padding: 0.8rem 0;
  line-height: 3.2rem;
  font-size: 2.4rem;
  font-weight: 700;
}
.gallery__container {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.gallery__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}/*# sourceMappingURL=bio.css.map */