@use './partials/__globals.scss' as *;
@use './partials/__variables.scss' as *;
@use './partials/__mediaqueries.scss' as *;
@use './partials/__header.scss' as *;
@use './partials/__hero.scss' as *;
@use './partials/__footer.scss' as *;


/* ACTIVE PAGE LINK --------------------------------------------- */
.nav__item:nth-of-type(2) {
    border-bottom: 3px solid white;

    .nav__link {
        color: $white;
    }
}


/* HERO --------------------------------------------------------- */
.hero {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;

    @include tablet {
        margin-bottom: 3.2rem;
    }

    @include desktop {
        align-items: space-between;
    }

    &__img {
        height: 33vh;
        object-position: center;

        @include tablet {
            height: 56vh;
        }

        @include desktop {
            height: 76vh;
        }
    }

    &__text {
        position: absolute;
        top: 3.8rem;
        z-index: 2;
        padding-left: 1.6rem;
        font-size: 1.3rem;
        line-height: 2rem;
        color: $white;
        width: 100%;

        @include tablet {
            top: 6.3rem;
            font-size: 2rem;
            font-weight: bold;
            padding-left: 3.6rem;
        }

        @include desktop {
            padding-left: 13.3rem;
            top: 20rem;
        }
    }

    &__heading {
        width: 75%;
        top: 7.2rem;

        @include tablet {
            line-height: 1.1;
            top: 10.2rem;
        }

        @include desktop {
            top: 26rem;
            width: 50%;
        }
    }
}


/* PLAYER ------------------------------------------------------- */
.player {
    width: 100%;
    padding: 0.5rem 1.6rem 1.6rem;
    z-index: 1;
    position: absolute;
    top: 14.5rem;
    margin-bottom: 3.2rem;

    &__iframe{
        width: 100%;
        height: 10vh;

        @include tablet {
            height: 15vh;
            width: 60%;
        }

        @include desktop {
            height: 100%;
            width: 100%;
        }
     }

    &__text {
        font-size: 1rem;
        color: #ccc;
        line-break: anywhere;
        word-break: normal;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-family: 'Interstate', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'Garuda', 'Verdana', 'Tahoma', sans-serif;
        font-weight: 100;
    }

    &__link {
        text-decoration: none;
        color: #ccc;
    }

    @include tablet {
        top: 24rem;
        padding: 3.6rem;
    }

    @include desktop {
        top: 20.4rem;
        left: 70rem;
        width: 38%;
    }
}


/* SHOWS -------------------------------------------------------- */
.shows {
    margin-bottom: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    @include desktop {
        flex-direction: row;
        align-items: flex-start;
    }

    &__heading {
        @include section-header;
        margin: 2.4rem $standard-margin 0 $standard-margin;

        @include tablet {
            margin: 0 $standard-margin 0 3.6rem;
        }

        @include desktop {
            margin: 0 2rem 1.6rem 13.3rem;
        }
    }

    &__column-headings-row {
        display: none;

        @include tablet {
            display: flex;
            width: calc(100% - 3.2rem);
            justify-content: space-between;
            margin: 1.6rem 3.6rem 1.2rem 3.6rem;
        }
    }

        &__column-heading {
            @include label;
            margin-bottom: 0.8rem;

            @include tablet {
                width: 15%;

                &--space {
                    width: 25%;
                }
            }

            @include desktop {
                padding-top: 2rem;
                width: 15%;

                &:first-of-type {
                    width: 25%;
                }
            
                &--space {
                    display: block;
                    width: 25%;
                    margin-right: 6.2rem;
                }
            }
        }

        @include tablet {
            margin-bottom: 3.6rem;
        }

        @include desktop {
            display: flex;
            gap: 9.5rem;
        }

    &__container {
        width: 100%;
    }
}


/* SHOW --------------------------------------------------------- */
.show {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $mercury;
    align-items: space-between;

    &__subheading {
       @include label;
       margin: 1.6rem $standard-margin 0.8rem $standard-margin;
       font-size: 1rem;

       @include tablet {
            display: none;
       }
    }

    &__body-copy {
        margin: 0 $standard-margin;
        font-size: 1.2rem;

        &--bold {
            font-weight: bold; 
     }

        @include tablet {
            margin-left: 2rem;
            font-size: 1.3rem;
            width: 15%;
        }

        @include desktop {

            &--bold {
                width: 25%;
            }
        }
    }

    &__buy-tickets-btn {
        @include button;
        width: calc(100% - 3.2rem);
        margin: 1.9rem $standard-margin $standard-margin $standard-margin;

        @include tablet {
            margin: 0.6rem $standard-margin 0.4rem;
        }

        @include desktop {
            margin-right: 2.4rem;
            padding: 1.15rem 3.2rem;
        }
    }

    @include tablet {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0 1.6rem;
        padding: 1rem 0;
    }

    @include desktop {
        width: 63vw;
    }

    &:hover,
    &:focus {
        background-color: $alabaster;
    }

    &:active,
    &--selected {
        background-color: $mercury!important;
    }
}

// * {
//     border: 1px solid red;
// }