@use './partials/__globals.scss' as *;
@use './partials/__variables.scss' as *;
@use './partials/__mediaqueries.scss' as *;
@use './partials/__header.scss' as *;
@use './partials/__hero.scss' as *;
@use './partials/__footer.scss' as *;


.hero {
    flex-direction: column;
    justify-content: center;
    text-align: left;

    &__img {
        height: 35.5vh;
    }

    &__text {
        position: absolute;
        top: 3.8rem;
        z-index: 2;
        padding-left: 1.6rem;
        font-size: 1.3rem;
        line-height: 2rem;
        color: $white;
        width: 100%;
    }

    &__heading {
        width: 100%;
        top: 7.2rem;
    }
}

.player {
    width: 100%;
    padding: 1.6rem;    
    z-index: 1;
    position: absolute;
    top: 14.5rem;
    margin-bottom: 3.2rem;
    &__iframe{
        width: 100%;
        height: 98px;
        z-index: 3;
     }


    &__text {
        font-size: 1rem;
        color: #ccc;
        line-break: anywhere;
        word-break: normal;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-family: 'Interstate', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'Garuda', 'Verdana', 'Tahoma', sans-serif;
        font-weight: 100;
    }

    &__link {
        text-decoration: none;
        color: #ccc;
    }
}

.shows {

    margin-bottom: 1.6rem;

    &__heading {
        @include section-header;
        margin: 2.4rem $standard-margin 0 $standard-margin;
    }


}

.show {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $mercury;
    margin-top: 0.1rem;


    &__subheading {
       @include label;
       margin: 1.6rem $standard-margin 0.8rem $standard-margin;
       font-size: 1rem;
    }

    &__body-copy {
        margin: 0 $standard-margin;
        font-size: 1.2rem;

        &--bold {
            font-weight: bold;
        }
    }

    &__buy-tickets-btn {
        @include button;
        width: calc(100% - 3.2rem);
        margin: 1.9rem $standard-margin $standard-margin $standard-margin;
    }
}